.Login{
    &-padding{
        padding-left: 0;
        padding-right: 0
    }

    &-image{
        height: 1080px;
        width:100%;

        object-fit: cover;
    }


    &-content{
        background: #EEEEEE;

        width: 100%;
        height: 100%;
        
        padding-left: 261px;
        padding-top: 270px;
    }

    &-wrapper{
        max-width: 390px;
        width: 100%;
    }

    &-wrapperLogo{
        margin-bottom: 55px;
        margin-left: auto;
        margin-right: auto;

        width: 100%;
        max-width: 173px;

        position: relative;
    }

    &-tm{
        position: absolute;
        top: 10px;
    }

    &-wrapperForm{
        background-color: $white;

        border-radius: 5px;

        margin-bottom: 7px;

        padding: 44px 31px 24px 29px;

        width: 100%;
    }

    &-form{
        width: 100%;
    }

    &-formTitle {
        font-family: $text;
        font-size: 16px;

        margin-bottom: 25px;
    }

    &-formInput{
        border: 1px solid #EBEBEB;
        border-radius: 4px;
        
        font-family: $text;
        font-size: 12px;

        padding: 15px;

        width: 100%;
    }

    &-rememberPassword{
        color: $black;

        display: block;

        font-family: $text;

        text-decoration: underline;

        margin-bottom: 17px;
    }

    &-formSubmit{
        background-color: #FF6866;

        border: none;
        border-radius: 28px;

        color: $white;

        display: block;

        font-family: $text;

        margin: 0 auto;

        padding: 12px 33px;
    }

    &-register{
        background-color: $white;

        border-radius: 5px;

        padding-bottom: 34px;
        padding-top: 45px;

        width: 100%;
    }

    &-registerTitle{
        font-size: 16px;

        text-align: center;

        margin-bottom: 21px;
    }

    &-buttonRegister{
        background-color: #F2CD7A;

        border: none;
        border-radius: 28px;
        
        color:$white;

        display: block;
        
        font-family: $text;
        font-size: 12px;

        margin: 0 auto;

        padding: 12px 27px;
    }

    @media (max-width: 1350.95px) {
        &-content{
            display: flex;
            justify-content: center;

            padding-left: 0;
        }
    }

    @include media-breakpoint-down(md){
        &-wrapper{
            max-width: 600px;
        }
        &-content{
            height: 1080px;
        }
    }

    @include media-breakpoint-down(sm){
        &-content{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}