.Login-image {
  width: 100%;
  height: 1080px;
  -o-object-fit: cover;
  object-fit: cover; }

.Login-content {
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  padding-top: 270px;
  padding-left: 261px; }
